.flextagline {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10vw;
}

.righteous {
  font-family: 'Righteous', cursive;
}

.flexleft {
    padding-top: 6vw;
    flex: 50%;
    align-items: center;
}

.flexright {
    flex: 50%;
    align-items: center;
    width: 100%;
}

.gridtype {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  text-align: center;
}

#aSide model-viewer {
  height: 30rem;
  width: 50rem;
}

#aSide {
  height:fit-content;
  width: auto;
}


.acloserlook {
  display: flex;
  justify-content: center;
}


.grid {
  display: grid;
  margin-top: 2em;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 10%;
  row-gap: 50px;
}

.image {
  width: 500px;
  max-width: 100%;
  min-width: 50%;
  height: auto;
}


.mobile {
  width: auto; 
  height: auto; 
  font-family: 'Righteous', cursive; 
  font-size: 2rem;
}

@media (max-width: 800px) {
  .flexright, .flexleft {
    flex: 100%;
  }

  #aSide model-viewer {
    height: 25rem;
    width: auto;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .mobile {
    font-size: 1.5
  }

  .gridpointsystem {
    flex: 100%;
    margin-left: 5%;
  }

  .title {
    margin-top: 8vw
  }
}

.moretext {
  display: flex;
  font-family: 'Righteous', cursive; 
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.gridpointsystem {
  display: grid;
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  flex: 5%;
  row-gap: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  margin-top: 5%;
}